mixin btn(link = true, arrow = true)
	if (link)
		+e.A.btn.btn__(href='#')&attributes(attributes)
			+e.SPAN.text
				if block
					block
			if arrow
				+e.SPAN.arrow
					+icon('arrowRight')
	else
		+e.BUTTON.btn.btn__()&attributes(attributes)
			+e.SPAN.text
				if block
					block
			if arrow
				+e.SPAN.arrow
					+icon('arrowRight')
