extends ../layouts/base

append vars
	- title = 'Доставка';

block content
	include ../layouts/header_gray
	+b.delivery.bg-light-gray
		+e.wrap.wrap
			+e.top
				+e.top-left
					+e.content.content
						h1 Доставка
						p
							| Отгрузка и доставка продукции осуществляется на следующих условиях:
						ul
							li Самовывоз готовой к отгрузке продукции с территории карьера автотранспортом покупателя
							li Доставка продукции осуществляется автотранспортом по следующим районам: Рузский, Одинцовский, Южный, Октябрьский, Можайский, Волоколамский и г. Москва
							li Минимальный объем заказа нерудных материалов для юридических лиц - 300 м3
						p
							| Отгрузка и доставка оплаченной продукции производится круглосуточно, а также в выходные и праздничные дни.
					+btn(class="_red js-modal" href="#recall") Оставить заявку
				+e.top-right
					+e.preview
						+e.preview-img
							img.object-fit(src="/img/delivery__img.jpg")
						+e.preview-text
							| Оптимизированная логистика и отсутствие посредников позволяет снизить общую стоимость заказов
			+e.location
				+e.H2.location-title.h3
					| Оптовые поставки до объекта во все соседние регионы
				+e.location-row
					+e.location-left
						+e.map
							img(src="/app/img/map.svg")
					+e.location-right
						+e.content.content
							p
								strong Доставка ЖД-вагонами от 69 тонн
							ul.outside
								li 6 дней в среднем требуется на погрузку и отправку.
								li Проверяем чистоту всех вагонов перед загрузкой продукции.
								li Для транспортировки рекомендуется использовать вагоны с системой автоматической погрузки и разгрузки.