+b.docs
	+e.wrap.wrap
		+e.row.flex
			+e.column._left
				+e.list
					+e.item
						+e.A.link.p20(href="#") Инструкция о правилах поведения на карьере водителей
					+e.item
						+e.A.link.p20(href="#") Список документов для заключения договора
					+e.item
						+e.A.link.p20(href="#") Отчет о проведении специальной оценки условий труда
					+e.item
						+e.A.link.p20(href="#") Сертификат соответствия на продукцию компании
			+e.column._right
				+e.desc.p24
					| Выбирая нашу компанию, Вы получаете квалифицированное сопровождение на всех этапах реализации продукции, мы будем рады помочь в достижении Ваших целей
		+e.A.download.download__(href="#")
			+e.icon
				+icon('arrowDown')
			+e.text Скачать полный комплект