+b.FOOTER.footer
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.left
				+e.copyright ООО «Евразийская нерудная компания» © 2021
				+e.polity
					a(href="#") Политика конфиденциальности
			+e.contacts
				+e.contacts-item
					+e.A.phone(href="tel:+79989855775")
						+e.phone-icon
							+icon('call')
						+e.phone-text +7 998 985 57 75
				+e.contacts-item
					+e.A.email(href="mailto:info@enk.com")
						+e.email-icon
							+icon('email')
						+e.email-text info@enk.com
			+e.right
				+e.social.social__
					+e.A.item(href="#")
						+icon('fb')
					+e.A.item(href="#")
						+icon('instagram')
					+e.A.item(href="#")
						+icon('youtube')
				+e.develop
					| Разработка сайта 
					a(href="https://vse.digital" target="_blank") VSE.digital