+b.HEADER.header._gray.js-header
	+e.wrap.wrap
		+e.top
			+e.row.flex._justify._vertical
				+e.A.logo(href="/main.html")
					+e.logo-img
						img(src="/app/img/logo.svg")
					+e.logo-text
						| ЕВРАЗИЙСКАЯ
						br
						| НЕРУДНАЯ КОМПАНИЯ
				+e.contacts.flex._vertical.mobile-hidden
					+e.contacts-item
						+e.A.phone(href="tel:+79989855775")
							+e.phone-icon
								+icon('call')
							+e.phone-text +7 998 985 57 75
					+e.contacts-item
						+e.A.email(href="mailto:info@enk.com")
							+e.email-icon
								+icon('email')
							+e.email-text info@enk.com
					+e.contacts-item
						+e.location
							+e.location-icon
								+icon('location')
							+e.location-text Москва, Ленинский пр-т, 101А
				+e.burger.mobile-visible.js-burger
					+e.burger-line
					+e.burger-line
					+e.burger-line
		+e.UL.nav.mobile-hidden
			+e.LI.nav-item
				+e.A.nav-link(href="/about.html") КОМПАНИЯ
			+e.LI.nav-item
				+e.A.nav-link(href="/catalog.html") Продукция
			+e.LI.nav-item
				+e.A.nav-link(href="/delivery.html") Доставка
			+e.LI.nav-item
				+e.A.nav-link(href="/vacancy.html") Вакансии
			+e.LI.nav-item
				+e.A.nav-link(href="/certificate.html") Сертификаты
			+e.LI.nav-item
				+e.A.nav-link(href="/contacts.html") Контакты
	+e.mobile.mobile-visible
		+e.mobile-wrap.wrap
			+e.UL.nav
				+e.LI.nav-item
					+e.A.nav-link(href="/about.html") КОМПАНИЯ
				+e.LI.nav-item
					+e.A.nav-link(href="/catalog.html") Продукция
				+e.LI.nav-item
					+e.A.nav-link(href="/delivery.html") Доставка
				+e.LI.nav-item
					+e.A.nav-link(href="/vacancy.html") Вакансии
				+e.LI.nav-item
					+e.A.nav-link(href="/certificate.html") Сертификаты
				+e.LI.nav-item
					+e.A.nav-link(href="/contacts.html") Контакты
			+e.contacts
				+e.contacts-item
					+e.A.phone(href="tel:+79989855775")
						+e.phone-icon
							+icon('call')
						+e.phone-text +7 998 985 57 75
				+e.contacts-item
					+e.A.email(href="mailto:info@enk.com")
						+e.email-icon
							+icon('email')
						+e.email-text info@enk.com
				+e.contacts-item
					+e.location
						+e.location-icon
							+icon('location')
						+e.location-text Москва, Ленинский пр-т, 101А