+b.partners
	+e.wrap.wrap
		+e.row.flex._vertical
			+e.column._left
				+e.H2.title.h2 Наши партнеры
			+e.column._right
				+e.desc.p20
					| Плодотворное и взаимовыгодное сотрудничество строится на взаимном уважении и доверии друг к другу
		+e.list
			+e.A.item(href="#")
				img(src="/img/partners__logo1.png")
			+e.A.item(href="#")
				img(src="/img/partners__logo2.png")
			+e.A.item(href="#")
				img(src="/img/partners__logo3.png")
			+e.A.item(href="#")
				img(src="/img/partners__logo4.png")
		