+b.scope
	+e.wrap.wrap
		+e.H2.title.h2 Сферы применения
		+e.list.flex
			+e.A.item(href="#")
				+e.preview
					img.object-fit(src="/img/scope__img1.jpg")
				+e.text
					| ДОРОЖНОЕ 
					br
					| СТРОИТЕЛЬСТВО
			+e.A.item(href="#")
				+e.preview
					img.preview.object-fit(src="/img/scope__img2.jpg")
				+e.text
					| ГРАЖДАНСКОЕ 
					br
					| СТРОИТЕЛЬСТВО
			+e.A.item(href="#")
				+e.preview
					img.preview.object-fit(src="/img/scope__img3.jpg")
				+e.text
					| Ж/Д 
					br
					| СТРОИТЕЛЬСТВО
			+e.A.item(href="#")
				+e.preview
					img.preview.object-fit(src="/img/scope__img4.jpg")
				+e.text
					| НЕФТЕГАЗОВОЕ 
					br
					| СТРОИТЕЛЬСТВО