+b.strategy
	+e.wrap.wrap
		+e.row.flex._vertical._justify
			+e.content
				+e.H2.title.h2 Стратегия и устойчивое развитие компании
				+e.text.p20
					| Познакомьтесь с компанией, посмотрев видеоролик о нас
			+e.play.play__.js-modal(data-modal="#modal-video" data-youtube="https://www.youtube.com/embed/nlfZchBGtz8")
				+e.text Смотреть
				+e.btn
					+icon('play')