+b.vantage
	+e.wrap.wrap
		+e.row.flex._justify
			+e.list
				+e.item
					+e.item-number 5 лет
					+e.item-text.p20
						| успешной работы по 
						br
						| разработке карьеров в ЦФО
				+e.item
					+e.item-number 100
					+e.item-text.p20
						| реализованных 
						br
						| проектов
				+e.item
					+e.item-number 900 000
					+e.item-text.p20
						| произведено и отгружено гравийного щебня различных фракций в 2020 году
			+e.content
				+e.H2.title.h3 Надежно и эффективно обеспечиваем рынок нерудной продукцией
				+e.desc.p20 Основным видом деятельности компании является добыча и производство высококачественных нерудных материалов на собственных месторождениях. В процессе производства используются передовые технологии американских и европейских производителей горнодобывающего оборудования. Благодаря чему мы достигаем наивысшего качества готовой продукции.
				+e.desc._border.p20 Евразийская Нерудная Компания является гарантом качества и надежности. Мы строго соблюдаем действующее законодательство РФ, а также последние нормативы качества нерудной продукции.