.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 30rem;
	height: 46rem;
	background: none;
	cursor: pointer;
	transition: ease .2s;
	border: 1px solid #fff;
	border-radius: 50rem;
	font-size: 14rem;
	line-height: 17/14*1;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1rem;
	color: #fff;
	
	&__arrow {
		width: 20rem;
		height: 20rem;
		background: rgba(#fff, .4);
		border-radius: 100%;
		margin: 0 -17rem 0 16rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: ease .2s;
		svg {
			width: 6rem;
			height: 10rem;
			fill: #fff;
			transition: ease .2s;
		}
	}
	
	&_red {
		border-color: $red;
		color: $red;
		.btn__arrow {
			background: rgba($red, .4);
			svg {
				fill: $red;
			}
		}
	}
	
	/*&:hover {
		border-color: $red;
		color: $red;
		.btn__arrow {
			background: rgba($red, .4);
			svg {
				fill: $red;
			}
		}
	}*/
}