.mfp-bg{
	background: rgba(0, 19, 43, 0.51);
	opacity: 0;
	transition: ease .7s;
	&.mfp-ready {
		opacity: 1;
	}
	&.mfp-removing {
		opacity: 0;
	}
}
.mfp-counter{
	display: none;
}

.mfp-content{
	@extend .clear;
}


.mfp-container {
	padding: 0 15px;
}

.mfp-gallery{
	.mfp-container{
		padding: 0 15px;	
	}

	.mfp-figure{
		position: relative;
	}

	.modals__close{
		z-index: 9999;
	}

	figure{
		position: relative;
	}
}

.mfp-figure {
	max-height: 90vh;
	img.mfp-img {
		max-height: 90vh !important;
		padding: 10px 0;
	}
}

.modals{
	margin: auto;
	position: relative;
	transition: ease .5s;
	transform: translateY(25rem);
	opacity: 0;
	&__close {
		position: absolute;
		right: 0;
		top: -35rem;
		width: 20rem;
		height: 20rem;
		stroke: #fff;
		cursor: pointer;
	}
	
	&_video {
		max-width: 1200rem;
		height: 60vh;
		iframe {
			border: 0;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	
	&_form {
		max-width: 473rem;
	}
	
	@include max-screen($large_tablet) {
		&_video {
			iframe {
				height: 600rem;
			}
		}
	}
	@include max-screen($small_tablet) {
		&_video {
			iframe {
				height: 500rem;
			}
		}
	}
	@include max-screen($large_mobile) {
		&_video {
			iframe {
				height: 400rem;
			}
		}
	}
	@include max-screen($small_mobile) {
		&_video {
			iframe {
				height: 300rem;
			}
		}
	}
}

.css-modal-animate{
	// start state

	overflow: hidden;

	.modals__arrow{
		opacity: 0;
	}

	.modals, .mfp-figure{
		transition: all .5s ease;
		opacity: 0;
	}

	// animate in
	&.mfp-ready{
		.modals__arrow{
			opacity: 1;
		}
		.modals {
			transform: translateY(0);
			opacity: 1;
		}
		.mfp-figure{
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{
		.modals__arrow{
			opacity: 0;
		}
		.modals, .mfp-figure{
			opacity: 0;
			transform: translateY(-25rem);
		}
	}

	@include max-screen($small_tablet) {
		.modals, .mfp-figure{
			transform: translate(0, 0)!important;
		}
	}
}