.owl {
	&-prev, &-next {
		width: 34rem;
		height: 34rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 5rem;
		background: rgba(#fff, .4)!important;
		position: absolute;
		top: 50%;
		margin-top: -17rem;
		fill: #fff;
		svg {
			width: 18rem;
			height: 16rem;
		}
	}
	
	&-prev {
		left: 23rem;
	}
	&-next {
		right: 23rem;
	}
	
	&-stage {
		display: flex;
	}
	
	&-item {
		float: none;
	}
}