.play {
	display: inline-flex;
	align-items: center;
	font-size: 20rem;
	line-height: 1;
	cursor: pointer;
	
	&__text {
		margin-right: 22rem;
	}
	
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 67rem;
		min-width: 67rem;
		height: 67rem;
		border-radius: 100%;
		background: rgba(#fff, .4);
		padding-left: 5rem;
		svg {
			fill: #fff;
			width: 24rem;
			height: 28rem;
		}
	}
}