.worth {
	padding-bottom: 100rem;
	
	&__list {
		margin-top: 70rem;
	}
	
	&__item {
		width: 30%;
		padding: 10rem 0;
		&:nth-child(2) {
			width: 40%;
			display: flex;
			justify-content: center;
		}
		&:not(:first-child) {
			border-left: 3px solid $red;
		}
		&:last-child {
			display: flex;
			justify-content: flex-end;
		}
		&-text {
			margin-top: 20rem;
		}
	}
	
	&__content {
		width: 100%;
		max-width: 270rem;
	}
	
	@include max-screen($small_tablet) {
		padding-bottom: 80rem;
		&__list {
			margin-top: 50rem;
		}
		&__item {
			&:not(:first-child) {
				border-left: 0;
			}
		}
	}
	
	@include max-screen(700px) {
		padding-bottom: 70rem;
		&__list {
			margin-top: 30rem;
		}
		
		&__item {
			width: 100%;
			&:nth-child(2) {
				width: 100%;
				display: block;
			}
			&:last-child {
				display: block;
			}
			&:not(:last-child) {
				margin-bottom: 20rem;
			}
		}
		
		&__content {
			max-width: none;
		}
	}
}